# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.pyc


# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/i

# Latex Reports
#

Final Report/*.aux
Final Report/*.dvi
Final Report/*.sty
Final Report/*.log
Final Report/*.toc
Final Report/*.lot
Final Report/*.lof
Final Report/*.synctex.gz
Final Report/*.out
Final Report/Missing Packages/*.sty
Final Report/Chapters/*.log
Final Report/main-blx.bibf
Final Report/main.bbl
Final Report/main.blg
Final Report/main.run.xml

Interim/*.aux
Interim/*.dvi
Interim/*.sty
Interim/*.log
Interim/*.toc
Interim/*.lot
Interim/*.lof
Interim/*.synctex.gz
Interim/*.out
Interim/Missing Packages/*.sty
Interim/Chapters/*.log
Interim/main-blx.bib
Interim/main.bbl
Interim/main.blg
Interim/main.run.xml
